## System dependencies and utilities
clinner
health_check>=3.4
ipython
aiohttp
uwsgi

## Django
Django
django-configurations
django-extensions

## Frontend
whitenoise

## Django REST Framework
djangorestframework
