DJANGO_SECRET_KEY={{ settings.secret_key }}
DJANGO_API_SUPERUSER=your_encripted_password
DJANGO_ETHERSCAN_TOKEN=your_etherscan_token
DJANGO_ETHPLORER_TOKEN={{ settings.ethplorer }}
DJANGO_WORKER_NAME={{ settings.worker_name }}